argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828493937/work
async-generator==1.10
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
backcall==0.2.0
beautifulsoup4 @ file:///opt/conda/conda-bld/beautifulsoup4_1650462163268/work
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
bokeh @ file:///tmp/build/80754af9/bokeh_1638349634419/work
Brotli==1.0.9
brotlipy==0.7.0
Cartopy @ file:///tmp/build/80754af9/cartopy_1594325421079/work
certifi==2021.10.8
cffi @ file:///tmp/build/80754af9/cffi_1600699146221/work
chardet==3.0.4
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
colorcet @ file:///tmp/build/80754af9/colorcet_1651851437012/work
cryptography @ file:///tmp/build/80754af9/cryptography_1601046815590/work
cssselect2==0.6.0
cycler==0.10.0
cytoolz==0.11.0
dask @ file:///opt/conda/conda-bld/dask-core_1647268715755/work
datashader @ file:///tmp/build/80754af9/datashader_1618337038395/work
datashape==0.5.4
decorator==4.4.2
defusedxml==0.6.0
distributed @ file:///opt/conda/conda-bld/distributed_1647271944416/work
entrypoints==0.3
fonttools==4.32.0
fsspec @ file:///opt/conda/conda-bld/fsspec_1647268051896/work
future==0.18.2
GDAL==3.0.2
geoviews==1.5.0
ghp-import==2.0.2
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews @ file:///opt/conda/conda-bld/holoviews_1645454331194/work
html5lib==1.1
hvplot @ file:///tmp/build/80754af9/hvplot_1627305124151/work
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
importlib-metadata==4.11.3
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596207638929/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1598883821407/work
ipython-genutils==0.2.0
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
jedi @ file:///tmp/build/80754af9/jedi_1598371611696/work
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1616615302928/work
jupyter-core @ file:///opt/conda/conda-bld/jupyter_core_1651671229925/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupytext==1.13.8
kiwisolver==1.2.0
livereload @ file:///home/conda/feedstock_root/build_artifacts/livereload_1598114753789/work
llvmlite==0.31.0
locket @ file:///tmp/build/80754af9/locket_1647006009804/work
lunr @ file:///home/conda/feedstock_root/build_artifacts/lunr_1607018089973/work/dist
Markdown @ file:///tmp/build/80754af9/markdown_1603216487943/work
markdown-it-py==2.1.0
MarkupSafe==1.1.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1597876319132/work
mdit-py-plugins==0.3.0
mdurl==0.1.1
mergedeep==1.3.4
mistune==0.8.4
mkdocs==1.3.0
mkdocs-jupyter==0.20.1
mkdocs-material==8.2.9
mkdocs-material-extensions==1.0.3
mkdocs-pdf-export-plugin==0.5.10
mkdocs-video==1.3.0
mkl-fft==1.2.0
mkl-random==1.1.0
mkl-service==2.3.0
msgpack @ file:///opt/conda/conda-bld/msgpack-python_1652362659880/work
multipledispatch==0.6.0
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert==6.5.0
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1601499549014/work
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
notebook @ file:///tmp/build/80754af9/notebook_1601501575118/work
numba==0.48.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233721170/work
olefile==0.46
OWSLib @ file:///tmp/build/80754af9/owslib_1594380045445/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas @ file:///tmp/build/80754af9/pandas_1602088120436/work
pandocfilters==1.4.2
panel @ file:///opt/conda/conda-bld/panel_1650637168846/work
param @ file:///tmp/build/80754af9/param_1636647414893/work
parso==0.7.0
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1602788711040/work
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
psutil @ file:///tmp/build/80754af9/psutil_1612298023621/work
ptyprocess==0.6.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyct @ file:///tmp/build/80754af9/pyct_1600458283921/work
pydyf==0.1.2
pyepsg==0.4.0
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pykdtree==1.3.1
pymdown-extensions==9.3
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyphen==0.12.0
pyproj==2.6.1.post1
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1600141720057/work
pyshp @ file:///tmp/build/80754af9/pyshp_1600141782871/work
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pyviz-comms @ file:///tmp/build/80754af9/pyviz_comms_1623747165329/work
PyYAML==5.3.1
pyyaml-env-tag==0.1
pyzmq==19.0.2
qtconsole @ file:///opt/conda/conda-bld/qtconsole_1649078897110/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1649073884068/work
regex @ file:///tmp/build/80754af9/regex_1602786672676/work
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
-e svn+https://svn.cptec.inpe.br/scamtec/branches/SCANPLOT_T11212@437#egg=SCANPLOT
scipy @ file:///tmp/build/80754af9/scipy_1597686649129/work
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
Send2Trash==1.5.0
Shapely @ file:///tmp/build/80754af9/shapely_1599817083863/work
sip==4.19.24
six==1.15.0
SkillMetrics==1.1.8
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve==2.3.2.post1
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
terminado==0.9.1
testpath==0.4.4
tinycss2==1.1.1
toml==0.10.2
toolz @ file:///tmp/build/80754af9/toolz_1636545406491/work
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1602185206534/work
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
typing-extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
watchdog==2.1.7
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
weasyprint==54.3
webencodings==0.5.1
widgetsnbextension==3.5.1
xarray @ file:///tmp/build/80754af9/xarray_1600709862930/work
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1602692860603/work
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1603306325174/work
zopfli==0.2.1
