# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
aiohttp
bokeh
cfgrib
dask
datashader
fsspec
geopandas
geoviews
holoviews
hvplot
intake
intake-xarray
jupyter
markdown
matplotlib
metpy
nbconvert
numpy
pandas
panel
param
requests
scipy
seaborn
tornado
xarray
xgrads
zarr
